In [ ]:
# Part 1 Web Scrap

In [5]:
years = list(range(1991, 2023))

In [6]:
url_start = 'https://www.basketball-reference.com/awards/awards_{}.html'

In [8]:
for year in years:
    url = url_start.format(year)
    data = requests.get(url)
 # loop to get download the data for the year in the list
    with open('mvp/{}.html'.format(year), 'w+') as f:
        f.write(data.text)
        #writing the mvp information from data to a new file called year.html in mvp folder, w+ writes a new file

In [10]:
# parsing table with Beautiful Soup
from bs4 import BeautifulSoup

In [11]:
with open('mvp/1999.html') as f:
    page = f.read()
# reading data to a page to parse data

In [12]:
soup = BeautifulSoup(page, 'html.parser')

In [13]:
soup.find('tr', class_='over_header').decompose()
#find html element with tr tag with class over_header

In [14]:
mvp_table = soup.find_all(id='mvp')[0]
#extracting the table from the html

In [15]:
import pandas as pd
#pandas can read html tables

In [16]:
mvp_1991 = pd.read_html(str(mvp_table))[0]
# need to turn the table into a string

In [17]:
mvp_1991.head(1)

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,Karl Malone,35,UTA,44.0,827.0,1180,0.701,49,37.4,23.8,9.4,4.1,1.3,0.6,0.493,0.0,0.788,9.6,0.252

In [18]:
mvp_1991['Year'] = 1991

In [19]:
mvp_1991.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,Karl Malone,35,UTA,44.0,827.0,1180,0.701,49,37.4,...,9.4,4.1,1.3,0.6,0.493,0.000,0.788,9.6,0.252,1991
1,2,Alonzo Mourning,28,MIA,36.0,773.0,1180,0.655,46,38.1,...,11.0,1.6,0.7,3.9,0.511,0.000,0.652,7.9,0.216,1991
2,3,Tim Duncan,22,SAS,30.0,740.0,1180,0.627,50,39.3,...,11.4,2.4,0.9,2.5,0.495,0.143,0.690,8.7,0.213,1991
3,4,Allen Iverson,23,PHI,5.0,319.0,1180,0.270,48,41.5,...,4.9,4.6,2.3,0.1,0.412,0.291,0.751,7.2,0.173,1991
4,5,Jason Kidd,25,PHO,2.0,159.0,1180,0.135,50,41.2,...,6.8,10.8,2.3,0.4,0.444,0.366,0.757,8.1,0.188,1991

In [21]:
dfs = []
for year in years:
    with open('mvp/{}.html'.format(year)) as f:
        page = f.read()
        
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_ = 'over_header').decompose()
    mvp_table = soup.find_all(id='mvp')[0]
    mvp_df = pd.read_html(str(mvp_table))[0]
    mvp_df['Year'] = year
    dfs.append(mvp_df)
    
#create for loop to get all the years table data
#create a dataframe for each year and then combine all the dataframes into one list

In [22]:
mvps = pd.concat(dfs)
mvps.tail()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
7,8,Stephen Curry,33,GSW,0.0,4.0,1000,0.004,64,34.5,...,5.2,6.3,1.3,0.4,0.437,0.380,0.923,8.0,0.173,2022
8,9,Chris Paul,36,PHO,0.0,2.0,1000,0.002,65,32.9,...,4.4,10.8,1.9,0.3,0.493,0.317,0.837,9.4,0.210,2022
9,10T,DeMar DeRozan,32,CHI,0.0,1.0,1000,0.001,76,36.1,...,5.2,4.9,0.9,0.3,0.504,0.352,0.877,8.8,0.154,2022
10,10T,Kevin Durant,33,BRK,0.0,1.0,1000,0.001,55,37.2,...,7.4,6.4,0.9,0.9,0.518,0.383,0.910,8.4,0.198,2022
11,10T,LeBron James,37,LAL,0.0,1.0,1000,0.001,56,37.2,...,8.2,6.2,1.3,1.1,0.524,0.359,0.756,7.5,0.172,2022

In [23]:
mvps.to_csv('mvps.csv')

In [24]:
#need to get all the players stats and then map MVP votes to the data then train ML model
#downloading player stats
player_stats_url = 'https://www.basketball-reference.com/leagues/NBA_{}_per_game.html'
url = player_stats_url.format(1991)
data = requests.get(url)

with open('player/1991.html', 'w+') as f:
    f.write(data.text)
#javascript renders the page so we do not have access to all the data

In [63]:
#use selenium to scrape the javascript page

In [41]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time #

In [44]:
#define driver to access the page
#creates control browser that controls selenium, use browser to render the page
driver = webdriver.Chrome(executable_path = 'usr/local/bin/chromedriver')

/var/folders/98/nlyxlbds71s0j08txnlzqny00000gn/T/ipykernel_74316/1630464547.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = 'usr/local/bin/chromedriver')

In [45]:
#example with 1991 using url from before 

for year in years:
    url = player_stats_url.format(year)

#use the driver to get the url and render the full table, it scrolls down and executes JS
    driver.get(url)
    driver.execute_script('window.scrollTo(1,10000)')
    time.sleep(2)
    with open ('player/{}.html'.format(year), 'w+') as f:
        f.write(driver.page_source)

In [51]:
dfs=[]
for year in years:
    with open('player/{}.html'.format(year)) as f:
        page = f.read()
        
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    player_table = soup.find_all(id='per_game_stats')[0]
    player_df = pd.read_html(str(player_table))[0]
    player_df['Year']=year
    dfs.append(player_df)

In [52]:
players = pd.concat(dfs)

In [53]:
players.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,22,POR,43,0,6.7,1.3,2.7,...,0.6,1.4,2.1,0.3,0.1,0.3,0.5,0.9,3.1,1991
1,2,Mahmoud Abdul-Rauf,PG,21,DEN,67,19,22.5,6.2,15.1,...,0.5,1.3,1.8,3.1,0.8,0.1,1.6,2.2,14.1,1991
2,3,Mark Acres,C,28,ORL,68,0,19.3,1.6,3.1,...,2.1,3.2,5.3,0.4,0.4,0.4,0.6,3.2,4.2,1991
3,4,Michael Adams,PG,28,DEN,66,66,35.5,8.5,21.5,...,0.9,3.0,3.9,10.5,2.2,0.1,3.6,2.5,26.5,1991
4,5,Mark Aguirre,SF,31,DET,78,13,25.7,5.4,11.7,...,1.7,3.1,4.8,1.8,0.6,0.3,1.6,2.7,14.2,1991

In [54]:
players.to_csv('players.csv')

In [55]:
#now need to get team stats
team_stats_url = 'https://www.basketball-reference.com/leagues/NBA_{}_standings.html'

In [56]:
for year in years:
    url = team_stats_url.format(year)
    data = requests.get(url)
    
    with open('team/{}.html'.format(year), 'w+') as f:
        f.write(data.text)

In [58]:
#scrape both division standings for the conferences
dfs = []
for year in years:
    with open('team/{}.html'.format(year)) as f:
        page = f.read()
        
    soup = BeautifulSoup(page, 'html.parser')
    soup.find('tr', class_='thead').decompose()
    e_table = soup.find_all(id='divs_standings_E')[0]
    e_df = pd.read_html(str(e_table))[0]
    e_df['Year'] = year
    e_df['Team'] = e_df['Eastern Conference']
    del e_df['Eastern Conference']
    dfs.append(e_df)
    
    w_table = soup.find_all(id='divs_standings_W')[0]
    w_df = pd.read_html(str(w_table))[0]
    w_df['Year'] = year
    w_df['Team'] = w_df['Western Conference']
    del w_df['Western Conference']
    dfs.append(w_df)

In [59]:
teams = pd.concat(dfs)

In [60]:
teams.tail()

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                   Team
13  56  26  .683     —  115.6  109.9   5.37  2022     Memphis Grizzlies*
14  52  30  .634   4.0  108.0  104.7   3.12  2022      Dallas Mavericks*
15  36  46  .439  20.0  109.3  110.3  -0.84  2022  New Orleans Pelicans*
16  34  48  .415  22.0  113.2  113.0   0.02  2022      San Antonio Spurs
17  20  62  .244  36.0  109.7  118.2  -8.26  2022        Houston Rockets

In [61]:
teams.head()

    W   L  W/L%    GB   PS/G   PA/G    SRS  Year                 Team
0  56  26  .683     —  111.5  105.7   5.22  1991      Boston Celtics*
1  44  38  .537  12.0  105.4  105.6  -0.39  1991  Philadelphia 76ers*
2  39  43  .476  17.0  103.1  103.3  -0.43  1991     New York Knicks*
3  30  52  .366  26.0  101.4  106.4  -4.84  1991   Washington Bullets
4  26  56  .317  30.0  102.9  107.5  -4.53  1991      New Jersey Nets

In [62]:
teams.to_csv('teams.csv')